body {
  background-color: rgb(241, 231, 133);
}

.container {
  background-color: rgb(100, 98, 98);
  width: 450px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50px;
  height: 500px;
}

.screen {
  background-color: rgb(112, 161, 112);
  border: 2px solid rgb(73, 70, 70);
  width: 60%;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.btnContainer {
  border: 2px solid red;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 5px;
}

.btnContainer .pwrButton {
  border: 2px solid blue;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 8px;
}

.row {
  border: 2px solid orange;
  display: flex;
  height: 60px;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  margin-bottom: 0px;
}

.numButton,
.operand,
.button {
  background-color: lightgray;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 8px;
}

#onButton {
  background-color: red;
}

#offButton {
  background-color: aqua;
}
