@import url("http://fonts.cdnfonts.com/css/scientific-calculator-lcd");

body {
  background-color: #85ffbd;
  background-image: linear-gradient(
    90deg,
    #85ffbd 0%,
    #fffb7d 50%,
    #ffffff 100%
  );
}

.container {
  width: 352px;
  padding-top: 15px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 500px;
}

.screen-container {
  font-family: "Scientific Calculator LCD", sans-serif;
  background-color: rgb(112, 161, 112);
  border: 2px solid rgb(73, 70, 70);
  width: 99%;
  height: 100px;
  padding-bottom: 20px;
  margin-top: -15px;
  word-wrap: break-word;
  opacity: 0.5;
}

.screen-top-row {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  height: 25px;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.mainDisplay,
.secondaryDisplay,
.operatorDisplay {
  padding-right: 3px;
}

.screen-bottom-row {
  text-align: right;
  padding-top: 30px;
  padding-bottom: 4px;
  padding-right: 3px;
  font-size: 27px;
  height: 37px;
  vertical-align: baseline;
}

.btnContainer {
  background: cornflowerblue;
  width: 352px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  height: 360px;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 5px;
  padding-bottom: 10px;
}

.row {
  display: flex;
  height: 70px;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  margin-bottom: 0px;
}

.numButton,
.operand,
.button {
  background-color: lightgray;
  border: 1px solid black;
  width: 63px;
  height: 63px;
  font-size: 25px;
  border-radius: 4px;
}
